<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Permuta</title>
</head>
<body>

<h2>Gerar Permuta</h2>

<form action="/gerar" method="post">

<h3>Requerente</h3>
POSTO<input name="posto_req"><br>
NOME<input name="nome_req"><br>
NUMERAL<input name="num_req"><br><br>

<h3>Substituto</h3>
POSTO<input name="posto_sub"><br>
NOME<input name="nome_sub"><br>
NUMERAL<input name="num_sub"><br><br>

<h3>Data</h3>
<input name="data"><br><br>

<button type="submit">Gerar PDF</button>

</form>

</body>
</html>
